<footer class="footer primary-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-2">
        <div class="widget clearfix">
          <h4 class="widget-title"><%= t ".recent_updates" %></h4>
          <ul>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Google+</a></li>
            <li><a href="#">Linkedin</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-sm-2">
        <div class="widget clearfix">
          <h4 class="widget-title"><%= t ".popular_releases" %></h4>
        </div>
      </div>
      <div class="col-md-2 col-sm-2">
        <div class="widget clearfix">
          <h4 class="widget-title"><%= t ".air_jordan" %></h4>
        </div>
      </div>
      <div class="col-md-2 col-sm-2">
        <div class="widget clearfix">
          <h4 class="widget-title"><%= t ".adidas" %></h4>
        </div>
      </div>
      <div class="col-md-2 col-sm-2">
        <div class="widget clearfix">
          <h4 class="widget-title"><%= t ".nike" %></h4>
        </div>
      </div>
      <div class="col-md-2 col-sm-2">
        <div class="widget clearfix">
          <h4 class="widget-title"><%= t ".streetwear" %></h4>
        </div>
      </div>
    </div>
  </div>
</footer>
<footer class="footer secondary-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <p><%= t ".copyright" %></p>
      </div>
    </div>
  </div>
</footer>
