<header class="header site-header affix">
    <div class="container">
      <nav class="navbar navbar-default yamm">
        <div class="container-fluid">
          <div id="navbar" class="navbar-collapse collapse">
            <%= image_tag("logo.png", alt:"StockX")%>
            <ul class="nav navbar-right">
              <li><%= link_to t("layouts.header.browse"), "#TODO-browse", class:"menu-header" %></li>
              <li><%= link_to t(".news"), "#TODO", class:"menu-header" %></li>
              <li><%= link_to t(".app"), "#TODO", class:"menu-header" %></li>
              <li><%= link_to t(".portfolio"), "#TODO", class:"menu-header" %></li>
              <li><%= link_to t(".about"), "#TODO", class:"menu-header" %></li>
              <li><%= link_to t(".faq"), "#TODO", class:"menu-header" %></li>
              <li><%= link_to t(".login"), "#TODO", class:"menu-header" %></li>
              <li><%= link_to t(".sign_up"), "#TODO", class:"menu-header" %></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
